<!-- fau: joinLink - add RAND_ID to allow more than one links on a page. -->
<div class="ilPermalinkContainer input-group">
    <label for="{RAND_ID}">
	<a href="{LINK}" onclick="selectPermalink('{RAND_ID}'); return false;" class="permalink_label"><span class="glyphicon glyphicon-link"></span><span class="hidden-xs">{TXT_PERMA}</span></a></label>
    <input class="form-control" id="{RAND_ID}" type="text" value="{LINK}" readonly="readonly" onclick="selectPermalink('{RAND_ID}'); return false;" />
    <!-- BEGIN social_bookmarks --><div class="input-group-btn">{SELECTION_LIST}</div><!-- END social_bookmarks -->
</div>
<script>
	function selectPermalink(randId) {
		var pl = $("#" + randId);
		pl.attr("readOnly", false);
		pl.focus().select();
		document.execCommand('copy');
		pl.attr("readOnly", true);
	}
</script>