includes:
  - phpstan.neon
parameters:
    parallel:
        maximumNumberOfProcesses: 10
    customRulesetUsed: true
rules:
  - ILIAS\CI\PHPStan\Rules\NoTriggerErrorFunctionCallRule
  - ILIAS\CI\PHPStan\Rules\NoSilenceOperatorRule
  - ILIAS\CI\PHPStan\Rules\NoScriptTerminationRule
  - ILIAS\CI\PHPStan\Rules\NoEvalFunctionCallRule
  - ILIAS\CI\PHPStan\Rules\NoDatabaseUsageInControllersRule
  - ILIAS\CI\PHPStan\Rules\NoGlobalsExceptDicRule
  - ILIAS\CI\PHPStan\Rules\NoArrayAccessOnGlobalsExceptDicRule
  - ILIAS\CI\PHPStan\Rules\NoUserInterfaceComponentsInNonControllersRule
services:
  -
    class: ILIAS\CI\PHPStan\Services\SuffixBasedControllerDetermination
    arguments:
      suffix: "GUI"