<!-- fau: ownFooter - new footer layout. -->
<div class="ilFooterContainer right">
    <!-- BEGIN items -->
    <a href="{URL_ITEM}"<!-- BEGIN blank --> target="_blank"<!-- END blank -->>{TXT_ITEM}</a>
    <!-- BEGIN item_separator --> | <!-- END item_separator -->
    <!-- END items -->
    <!-- BEGIN perma_link --> | {PRMLINK}<!-- END perma_link -->
</div>

<div class="ilFooterContainer">
    <img class="ilFooterLogo" src="{FAU_LOGO}" alt="FAU Logo" />
    <!-- BEGIN financed -->
    <p>{TXT_FINANCED_BY}</p>
    <!-- END financed -->
</div>


<div class="ilFooterContainer">
    <img class="ilFooterLogo" src="{ILI_LOGO}" alt="ILI Logo" />
    <!-- BEGIN contact_imprint -->
    <p><a href="{URL_CONTACT}">{TXT_CONTACT}</a> / <a href="{URL_IMPRINT}">{TXT_IMPRINT}</a> / <a href="{URL_PRIVACY}">{TXT_PRIVACY}</a></p>
    <!-- END contact_imprint -->
</div>


<div class="ilFooterContainer info">
    <!-- BEGIN ilias_version -->
    <a href="http://www.ilias.de">{TXT_REALISED_WITH} {ILIAS_VERSION_NUMERIC}</a><br />
    <!-- END ilias_version -->
    {TXT_SERVER} {SERVER_NAME}<br />
    {TXT_ACTIVE_USERS} {USERS_ONLINE}<br />
    {TXT_HOTLINE}
</div>

<!-- BEGIN dev_bl -->
<div class= "ilFooterDevmode" style="background-color: white; color: black; border: 1px dashed grey; padding: 10px; margin-top: 25px;">
{MEMORY_USAGE}
{SESS_INFO}
<!-- BEGIN call_history -->
<center><br /><table border="0"><tr><td colspan="2">
<i>Controller History:</i></td></tr>
<!-- BEGIN c_entry --><tr><td class="small">- {C_ENTRY}</td><td class="small">{C_FILE}</td></tr><!-- END c_entry -->
</table></center>
<!-- END call_history -->
<!-- BEGIN included_files -->
<a name="devinclsthd"></a>
<br /><a href="#devinclsthd" onclick="$('#devinclst').toggle();"><i>Included Files</i> <span class="caret"></span></a>
<div id="devinclst" class="xsmall" style="display:none;">
<!-- BEGIN i_entry -->
{I_ENTRY}<br />
<!-- END i_entry -->

</div>
<!-- END included_files -->
<!-- BEGIN xhtml_validation -->
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
{VALIDATION}
</td></tr></table>
<!-- END xhtml_validation -->
</div>
<!-- END dev_bl -->
