<!-- fau: lmQStat - new row template. -->
<tr class="{CSS_ROW}">
	<td>
	</td>
	<td class="std small">
		<a href="{LINK}">{USER}</a>
	</td>
	<td class="std small">
		{LOGIN}
	</td>
	<td class="std small">
		{VAL_ANSWERED}
	</td>
	<td class="std small ilWhiteSpaceNowrap">
		{VAL_CORRECT_FIRST}
	</td>
	<td class="std small ilWhiteSpaceNowrap">
		{VAL_CORRECT_SECOND}
	</td>
	<td class="std small ilWhiteSpaceNowrap">
		{VAL_CORRECT_THIRD_AND_MORE}
	</td>
	<td class="std small ilWhiteSpaceNowrap">
		{VAL_NEVER}
	</td>
</tr>