<tr class="{CSS_ROW}" >
    <td class="std"><span class="small">{START}</span></td>
    <td class="std"><span class="small">{TYPE}</span></td>
    <td class="std"><span class="small"><a href="{LINK}">{TITLE}</a></span><br />
                    <span class="small">{PATH}</span></td>
    <td class="std"><span class="small">{REG_TYPE}</span></td>
    <td class="std"><span class="small">{PLACES}</span></td>
    <td class="std"><span class="small">{POLICY}</span></td>
    <td class="std"><span class="small">{END}</span></td>
</tr>