<tr class="{CSS_ROW}" style="border:solid; border-width:0.1em; border-color:#24283A;">
    <td class="std" style="text-align:center; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_HOUR}
    </td>
    <td class="std" style="text-align:center;background-color:{BACKGROUND_1}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_1}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_2}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_2}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_3}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_3}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_4}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_4}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_5}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_5}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_6}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_6}
    </td>
	<td class="std" style="text-align:center;background-color:{BACKGROUND_7}; border:solid; border-width:0.1em; border-color:#24283A;">
        {TXT_DAY_7}
    </td>
</tr>