<!-- fau: pageLayout - changed layout, added studon logo with link. -->
<div id="ilTopBar" class="ilTopBar ilTopFixed">
</div>
<div class="ilMainHeader ilTopFixed">
	<header class="container-fluid ilContainerWidth">
		<div class="row">
            <a class="navbar-brand" href="{LINK}" target="_top">
                <img src="templates/default/images/studon/studon.svg" alt="Logo" class="studonLogo noMirror" />
                <img src="templates/default/images/studon/studon-square-white.svg" alt="Logo" class="studonSmall noMirror" />
            </a>
		</div>
	</header>
</div>
<div id="mainspacekeeper" class="container-fluid ilContainerWidth ilFixedTopSpacer">
	<div class="row" style="position: relative;">
		<div id="fixed_content" class=" ilContentFixed">
			<div id="mainscrolldiv" class="ilStartupFrame container">
				<div class="il_Header">
                    <br />
					<h1>{MESSAGE_HEADING}</h1>
				</div>
				<div class="ilStartupSection">
					<div class="alert alert-danger">{ERROR_MESSAGE}</div>
					<p>
						<br />
                        <a class="btn btn-default" href="{LINK}">{TXT_LINK}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="minheight"></div>
<footer id="ilFooter" class="ilFooter">
    <div class="container-fluid ilContainerWidth">{FOOTER}</div>
</footer>