<!-- fau: exStatement - new template. -->
<ul>
    <li>Ich versichere hiermit, dass ich die Prüfung selbständig und <strong>nur unter Verwendung der erlaubten Hilfsmittel</strong> bearbeiten werde. Insbesondere versichere ich, <strong>keine unerlaubte Hilfe anderer Personen</strong> in Anspruch zu nehmen und während der Prüfung mit keiner anderen Person außer dem Prüfungsleiter/ der Prüfungsleiterin zu kommunizieren.</li>
    <li>Es ist mir bekannt, dass die Prüfung mit der Note 5,0 (= „nicht ausreichend“ bzw. „nicht bestanden“) bewertet wird, wenn ich das Ergebnis der Erfolgskontrolle durch Täuschung oder Benutzung nicht zugelassener Hilfsmittel beeinflusse oder selbiges versuche und dass ich in schwerwiegenden Fällen von der Durchführung weiterer Erfolgskontrollen ausgeschlossen werden kann.</li>
    <li>Mir ist bekannt, dass ich auftretende technische Störungen unverzüglich beim Dozierenden unter dem angegebenen Kommunikationskanal zu melden habe.</li>
</ul>
