<!-- fau: exStatement - new template. -->
<ul>
    <li>I hereby assure that I will work on the examination independently and <strong>only using the permitted aids</strong>. In particular, I assure that I will not use <strong>any unauthorized help from other persons</strong> and that I will not communicate with any other person during the examination except the examination supervisor.</li>
    <li>I am aware that the examination will be <strong>graded with 5.0</strong> (= "insufficient" or "failed") if I influence or attempt to influence the result of the performance review by deception or the use of unauthorized aids and that in serious cases I may be <strong>excluded</strong> from further performance reviews.</li>
    <li>I am aware that I must <strong>immediately report any technical issues</strong> that occur to the lecturer using the specified communication channels.</li>
</ul>
