<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input type="hidden" name="id[{VAL_ID}]" value = "1" />
		<a href="{LINK_NAME}">{TXT_NAME}</a>
	</td>
	<!-- BEGIN grade -->
	<td class="std small">
		<div class="small ilWhiteSpaceNowrap">
		<img src="{IMG_STATUS}" title="{ALT_STATUS}" alt="{ALT_STATUS}" />
		<!-- fau: exManCalc - make status selectable -->
		<!-- BEGIN status_select -->
		<select name="status[{VAL_ID}]" >
			<option value="notgraded" {SEL_NOTGRADED}>{TXT_NOTGRADED}</option>
			<option value="passed" {SEL_PASSED}>{TXT_PASSED}</option>
			<option value="failed" {SEL_FAILED}>{TXT_FAILED}</option>
		</select>
		<!-- END status_select -->
		<!-- fau. -->
		</div>
		<div class="small ilWhiteSpaceNowrap" style="margin-top:5px;">
		<!-- BEGIN mark_input -->
		{TXT_MARK}: <input class="form-control" type="text" name="{NAME_MARK}" value="{VAL_MARK}" size="4" maxlength="32" />
		<!-- END mark_input -->
		{VAL_ONLY_MARK}
		 <!-- fau: exManCalc - add status date -->
		 <!-- BEGIN status_date -->
		  <br /><br />{TXT_LAST_CHANGE}:<br />{VAL_STATUS_DATE}
		  <!-- END status_date -->
		  <!-- fau. -->
		</div>
	</td>
	<!-- END grade -->
	<td class="std small">
	<textarea class="form-control" rows="3" style="width: 100%;" name="lcomment[{ID_COMMENT}]">{VAL_COMMENT}</textarea>
	</td>
</tr>