<!-- fim: [layout] redesigned for bootstrap, added cancel button -->
{TERMS_OF_SERVICE_CONTENT}
<!-- BEGIN get_acceptance -->
<form action="{FORM_ACTION}" method="post">
    <div class="form-group">
       {ACCEPT_CHECKBOX} <label for="status"><b>{ACCEPT_TERMS_OF_SERVICE}</b></label>
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit"name="cmd[getAcceptance]" value="{TXT_SUBMIT}" />
        <a class="btn btn-default" href="{URL_CANCEL}">{TXT_CANCEL}</a>
    </div>

</form>
<!-- END get_acceptance -->
<!-- fim. -->