<div class="loginBlock">

    <h2 id="shibLoginHead" class="ilc_heading2_Headline2 loginHeadline" style="float:left;">
        <a href="{SHIB_LINK}">{SHIB_TITLE}</a><br />
        <small>{SHIB_TITLE_ADD}</small>
    </h2>

    <!-- BEGIN login_help -->
    <div class="loginHelp" style="float:right;">
        <a href="{HELP_LINK}" title="{HELP_TITLE}"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
    <!-- END login_help -->

    <div style="clear: both;"></div>

    <!-- BEGIN shib_login_instructions -->
    <small>{shib_login_instructions}</small>
    <!-- END shib_login_instructions -->
</div>

