<div class="ilc_section_LoginSSOHeadline">
    <h2 id="shibLoginHead" class="ilc_heading2_Headline2" style="float:left;">
        <a href="{SHIB_LINK}">{SHIB_TITLE}</a><br />
        <small>{SHIB_TITLE_ADD}</small>
    </h2>

    <!-- BEGIN login_help -->
    <div class="loginHelp" style="float:right;">
        <a href="{HELP_LINK}" alt="{HELP_TITLE}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
    <!-- END login_help -->

    <div style="clear: both;"></div>

    <!-- BEGIN shib_login_instructions -->
    <small>{shib_login_instructions}</small>
    <!-- END shib_login_instructions -->
</div>

