<!-- fau: pageLayout - use the standard main menu -->
<!-- BEGIN menu_block -->
{MAINMENU}
<div id="mainspacekeeper" class="container-fluid ilContainerWidth {MAINMENU_SPACER}">
<!-- END menu_block -->
<!-- fau. -->
	<div class="row" style="position: relative;">
		<div id="fixed_content" class=" ilContentFixed">
			<div id="mainscrolldiv" class="ilStartupFrame container">
				<!-- BEGIN page_headline -->
                <!-- fau: pageLayout - added classes from standard template -->
				<div class="media il_HeaderInner">
					<h1 class="ilHeader"><!-- BEGIN img_headline --><img src="{IMG_PAGEHEADLINE}" /> <!-- END img_headline --><a class="ilAccAnchor" id="il_mhead_t_focus" name="il_mhead_t_focus">{TXT_PAGEHEADLINE}</a></h1>
				</div>
                <!-- fim. -->
				<!-- END page_headline -->
				{MESSAGE}
				<div class="ilMessageBox">
					<!-- BEGIN warning -->
					<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
					<div class="ilFailureMessage">
						<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
						{TXT_MSG_LOGIN_FAILED}
					</div>
					<!-- END warning -->
					<!-- BEGIN success -->
					<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
					<div class="ilSuccessMessage">
						<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
						{TXT_MSG_LOGIN_SUCCESS}
					</div>
					<!-- END success -->
				</div>
                <!-- fau: pageLayout - added container div -->
                <div class="container container-fluid" id="ilContentContainer">
				{STARTUP_CONTENT}
                </div>
                <!-- fau. -->
				<!-- BEGIN links_bl -->
				<div class="ilCenter" style="padding-top: 25px">
					<!-- BEGIN link_item_bl -->
					<a class="btn btn-default" href="{LINK_URL}">{LINK_TXT}</a>
					<!-- END link_item_bl -->
				</div>
				<!-- END links_bl -->
			</div>	
		</div>
	</div>
</div>
<div id="minheight"></div>
<!-- fau: ownFooter - own footer layout with permalink inside -->
<footer id="ilFooter" class="ilFooter hidden-print">
    <div class="container-fluid ilContainerWidth">{FOOTER}</div>
</footer>
<!-- fau. -->
{SCRIPT}