<div class="loginBlock loginFormLinks">
<!-- BEGIN password_assistance -->
<a class="ilc_link_IntLink" href="{CMD_FORGOT_PASSWORD}">{FORGOT_PASSWORD}</a><br />
<a class="ilc_link_IntLink" href="{CMD_FORGOT_USERNAME}">{FORGOT_USERNAME}</a><br />
<!-- END password_assistance -->
<!-- BEGIN new_registration -->
<a class="ilc_link_IntLink" href="{CMD_REGISTER}">{REGISTER}</a><br />
<!-- END new_registration -->
<!-- BEGIN user_agreement -->
<a class="ilc_link_IntLink" href="{LINK_USER_AGREEMENT}">{USER_AGREEMENT}</a>
<!-- END user_agreement -->
</div>

