<div class="ilc_section_LoginFormHeadline">
    <h2 id="localLoginHead" class="ilc_heading2_Headline2" style="float:left;">
        <a href="#">{LOGIN_TITLE}</a><br />
        <small>{LOGIN_TITLE_ADD}</small>
    </h2>

    <!-- BEGIN login_help -->
    <div class="loginHelp" style="float:right;">
        <a href="{HELP_LINK}" alt="{HELP_TITLE}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
    <!-- END login_help -->

    <div style="clear: both;"></div>

    <!-- BEGIN local_login_instructions -->
    <small>{local_login_instructions}</small>
    <!-- END local_login_instructions -->
</div>

<div class="ilc_section_LoginFormHidden">

    <div class="ilc_Paragraph ilc_text_block_Standard">
        <form id="localLoginForm" method="post" action="{FORMACTION}" name="formlogin">

            <div class="form-group">
                <label class="sr-only" for="username">{LABEL_USERNAME}</label>
                <input id="username" name="username" autocorrect="off" autocapitalize="none" class="form-control" placeholder="{LABEL_USERNAME}" value="{VAL_USERNAME}" >
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">{LABEL_PASSWORD}</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="{LABEL_PASSWORD}">
            </div>
            <div class="form-group">
                <input name="cmd[doStandardAuthentication]" type="submit" class="btn btn-default" value="{LABEL_SUBMIT}" />
            </div>
        </form>
    </div>

    <div class="lc_Paragraph ilc_text_block_Standard">
        <!-- BEGIN password_assistance -->
            <a class="ilc_link_IntLink" href="{CMD_FORGOT_PASSWORD}">{FORGOT_PASSWORD}</a><br />
            <a class="ilc_link_IntLink" href="{CMD_FORGOT_USERNAME}">{FORGOT_USERNAME}</a><br />
        <!-- END password_assistance -->
        <!-- BEGIN user_agreement -->
        <a class="ilc_link_IntLink" href="{LINK_USER_AGREEMENT}">{USER_AGREEMENT}</a>
        <!-- END user_agreement -->
    </div>
</div>
