<!-- fau: relativeLink - template for showing relative links -->
<div class="ilPermalinkContainer input-group">
<!-- BEGIN label -->
<label id="ilRelativeLinkLabel" for="ilRelativeLinkInput">
    <a href="#" class="permalink_label">{TXT_RELATIVE_LINK}</a>&nbsp;
</label>
<!-- END label -->
<input class="form-control" id="ilRelativeLinkInput" style="display:none;" type="text" value="{LINK}" readonly="readonly" />
<a id="ilRelativeLinkCreate" class="btn btn-default" style="display:none;" href="#ilRelativeLinkInput" role="button">{TXT_CREATE_LINK}</a>
</div>
<div class="help-block">{TXT_RELATIVE_LINK_DESCRIPTION}</div>