<!-- fau: relativeLink - template for showing relative links -->
<!-- BEGIN label -->
<label id="ilRelativeLinkLabel" for="ilRelativeLinkInput">
    <a href="#" class="permalink_label">{TXT_RELATIVE_LINK}</a>&nbsp;
</label>
<!-- END label -->
<input id="ilRelativeLinkInput" style="display:none;" type="text" value="{LINK}" readonly="readonly" />
<a id="ilRelativeLinkCreate" class="btn btn-default" style="display:none;" href="#ilRelativeLinkInput" role="button">{TXT_CREATE_LINK}</a>
<div class="small">{TXT_RELATIVE_LINK_DESCRIPTION}</div>