<tr class="{CSS_ROW}">
<td class="std">
	<input type="checkbox" name="id[]" value="{NODE_ID}" />
</td>
<!-- BEGIN order -->
<td class="std">
	<input type="text" max_length="6" size="6" name="order[{ONODE_ID}]" value="{ORDER_NR}" />
</td>
<!-- END order -->
<!-- fau: taxDesc - table column for description -->
<td class="std">
<input type="text" size="40" maxlength="200" name="title[{NODE_ID}]" value="{TITLE}" />
</td>
<td class="std">
    <textarea cols="40" rows="1" maxlength="4000" name="description[{NODE_ID}]">{DESCRIPTION}</textarea>
</td>
<!-- fau. -->
</tr>
