/*
 * Custom Content Styles
 * Copied from Customizing/css/startpage.css
 */

/*
 * Hide navigation tree
 */
.ilTreeView, .ilLeftNav { display: none; }
.ilLeftNavSpace { margin-left: 0 !important; }


.ilc_section_BannerContainer {
    display: none;
}

@media (min-width: 768px) {
    .ilc_section_LoginContainer {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 1000;
        background-color: #fafafc;
        -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2);
        padding-right: 10px;
    }

    .ilc_section_BannerContainer {
        min-height: 300px;
        margin-top: -53px;
        margin-left: -50px;
        margin-right: -50px;
        display: block;
    }

    .ilMainHeader {
        border-bottom: 0!important;
    }

    #ilSubTab {
        margin-bottom: 50px!important;
    }
}


/*
 * Banner Image
 */
.ilc_section_BannerBlock {
    margin-bottom: 10px;
}
.ilc_section_BannerBlock table.ilc_media_cont_MediaContainer,
.ilc_section_BannerBlock table.ilc_media_cont_MediaContainer tbody
.ilc_section_BannerBlock table.ilc_media_cont_MediaContainer tr
.ilc_section_BannerBlock table.ilc_media_cont_MediaContainer td {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%!important;
    height: 100px!important;
    /* needed for cutting image */
    position: relative;
    overflow: hidden;
}
.ilc_section_BannerBlock img {
    /* center and cut image */
    position: absolute;
    height: 100px!important;
    left: 50%;                              /* this is relative to the container width */
    -webkit-transform: translate(-50%);     /* this works relative to the image width */
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

/*
 * Banner Image in Editor
 */
#il_EditPage .ilc_section_BannerBlock img {
    position: relative;
    height: 100px!important;
    width: 100%!important;
    left: 0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}


/*
 * Styles for Login form
 */
.loginBlock {
    padding-left: 22px;
}
.loginHeadline {
    background-image: url(../../templates/default/images/tree_col.svg)!important;
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin-left: -22px;
    padding-left: 22px;
}
.loginHeadline.open {
    background-image: url(../../templates/default/images/tree_exp.svg)!important;
}
.loginHelp {
    padding-top: 20px;
}
h2 small {font-size: 13px; }
h2 a { color: #036!important;}