/*
 * Custom Content Styles
 * Copied from Customizing/css/startpage.css
 */

/*
 * Hide navigation tree
 */
.ilTreeView, .ilLeftNav { display: none; }
.ilLeftNavSpace { margin-left: 0; }


/**
 * Banner and Login Container
 */
.ilc_section_BannerContainer {
    display: none;
}
@media (min-width: 768px) {

    /* show login as oox on the banner */
    .ilc_section_LoginContainer {
        position: absolute;
        top: -20px;
        left: 15px;
        z-index: 1000;
        background-color: #fafafc;
        padding-top: 5px;
        padding-right: 5px;
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
    }

    /* positioning of the banner */
    .ilc_section_BannerContainer {
        display:block;
        margin-top: -53px;
        margin-left: -30px;
        margin-right: -30px;
    }

    /* Rotating Banner Images */
    .ilc_section_BannerContainer .ilc_ca_icntr_CarouselICntr {
        height:300px;
    }
    .ilc_section_BannerContainer .ilc_Mob  {
        position: absolute;
        height: 300px;
        left: 0;
        right: 0;
        overflow:hidden;
    }
    .ilc_section_BannerContainer .ilc_Mob img {
        position: absolute;
        height: 300px;
        width:auto!important;
        right: 0;
    }

    /* Banner Texts */
    .ilc_section_BannerContainer .ilc_Paragraph {
        position: absolute;
        background: #036;
        color: white;
        top: 240px;
        right: 30px;
        left: 30px;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    .ilc_section_BannerContainer .ilc_Paragraph a {
        color: white;
        text-decoration: none;
    }
    .ilc_section_BannerContainer .ilc_Paragraph a:hover {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    /* Put banner directly below menu */
    .ilMainHeader {
        border-bottom: 0;
    }

    /* For view with write permissions */
    #ilSubTab {
        margin-bottom: 50px;
    }

    /* Login messages */
    div.ilAdminRow {
        position:absolute;
        top: 10px;
        left: 300px;
        right: 15px;
        z-index: 1000;
        width:auto;
    }
}


/*
 * Login blocks
 */
div.loginBlock {
    padding-left: 22px;
}
div.loginBlock small {
    font-size: 80%;
}
h2.loginHeadline {
    background-image: url(../../templates/default/images/tree_col.svg);
    background-repeat: no-repeat;
    background-position: 0 3px;
    margin-left: -22px;
    padding-left: 22px;
    margin-top:0;
    margin-bottom: 0;
    font-size: 120%;
}
h2.loginHeadline.open {
    background-image: url(../../templates/default/images/tree_exp.svg);
}
h2.logoutHeadline {
    margin-left: -22px;
    padding-left: 22px;
    margin-top:0;
    margin-bottom: 0;
    font-size: 120%;
}
div.loginFormLinks {
    margin-top: -5px;
}
#localLoginForm {
    margin-top: 5px;
}
#localLoginForm  div.localLoginAssistance {
    margin-top: 5px;
}
.loginHelp {
    padding-top: 20px;
}


/**
 * Grid below Banner
 */
.ilc_section_GridContainer > .row {
    display:flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.ilc_section_GridContainer > .row > div {
    display:flex;
    background-color: #f0f0f0;
    border: 15px solid white;
    min-height: 300px;
}

/* Links */
.ilc_Paragraph a {
    text-decoration: none;
}
.ilc_Paragraph a:hover {
    text-decoration: underline;
}